<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{{ path('admin_schedule') }}">SimpleSchedule</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ path('admin_schedule_status') }}" title="Status">Status</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_schedule_location') }}" title="Location">Location</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_schedule_category') }}" title="Category">Category</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_schedule_event') }}" title="Event">Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
