{% extends "IDCISimpleScheduleBundle::adminbase.html.twig" %}

{% block body %}

{{ parent() }}

<div class="page-header">
  <h1>Status</h1>
</div>

<table class="table table-bordered table-striped record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ entity.value }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('admin_schedule_status') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('admin_schedule_status_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_schedule_status_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock body %}
