{% extends "IDCISimpleScheduleBundle::adminbase.html.twig" %}

{% block body %}

{{ parent() }}

<div class="page-header">
    <h1>{% trans %}List{% endtrans %}</h1>
</div>

<p>
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
</p>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th colspan="3">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.currentPageResults %}
        <tr>
            <td><a href="{{ path('admin_category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.color }}</td>    <td>
                    <a class="btn btn-block" href="{{ path('admin_category_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
            </td>    <td>
                    <a class="btn btn-block btn-primary" href="{{ path('admin_category_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
            </td>    <td>
                    {% render 'IDCISimpleScheduleBundle:Category:deleteForm' with { 'id': entity.id } %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_category_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
