{% extends "IDCISimpleScheduleBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCISimpleScheduleBundle::entity_nav.html.twig" with {'entities' : {
    'Task':         { 'basepath': 'task' },
    'Location':     { 'basepath': 'location' },
    'Activity':     { 'basepath': 'activity', 'active': true },
    'ActivityType': { 'basepath': 'activitytype' }
  }} %}
{% endblock %}

{% block body %}

{{ parent() }}

<div class="page-header">
  <h1>{% trans %}Activity creation{% endtrans %}</h1>
</div>

<form action="{{ path('activity_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('activity') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
