{% extends "IDCISimpleScheduleBundle::adminbase.html.twig" %}

{% block body %}

{{ parent() }}

<div class="page-header">
  <h1>{% trans with {'%frequency%': frequency} %}Add a %frequency% recur{% endtrans %}</h1>
</div>

<form action="{{ path('admin_recur_create', { 'calendar_entity_id': calendar_entity.id, 'frequency': frequency}) }}" method="post" {{ form_enctype(recur_form) }}>
    {{ form_widget(recur_form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('admin_event_edit', { 'id': calendar_entity.id }) }}">
            {% trans %}Back to the event{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
