{% block meta_widget %}
<div>
    {{ form_label(form['namespace']) }}
    {{ form_widget(form['namespace']) }}

    {{ form_label(form['key']) }}
    {{ form_widget(form['key']) }}

    {{ form_label(form['value']) }}
    {{ form_widget(form['value']) }}
</div>
{% endblock %}
